<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1><%= 'RESTAURANT: The Green Byte Bistro Restaurant' %></h1>
  <P><%='Name: The Green Byte Bistro'%></P>
  <p><%= 'Address: 742 Evergreen Rd, Mapleview, OS 45502' %></p>
  <p><%= 'Phone: 555-321-9876' %></p>
  
 
</body>
</html>
